$blue: #3BAFDA;
$light-blue: #4FC1E9;
$green: #37BC9B;
$light-green: #48CFAD;
$red: #DA4453;
$light-red: #ED5565;
$yellow: #F6BB42;
$light-yellow: #FFCE54;
$secondary-text: #bbb;
$themes: ( light: ( background: #fff, foreground: #363636, highlight: #fff, border: #ebefef, icon: #878787), atom: ( background: #1C2137, foreground: #fff, highlight: #252D47, border: #535C76, icon: #535c76) );
$_current-theme: null;
@function theme($name) {
    @if ($_current-theme==null) {
        @error "theme() function should only be used into code that is wrapped by 'theme' mixin";
    }
    @if (not map-has-key(map-get($themes, $_current-theme), $name)) {
        @warn "Unknown theme key '#{$name}' for theme '#{$_current-theme}'";
        @return null;
    }
    @return map-get(map-get($themes, $_current-theme), $name);
}

@mixin theme() {
    @each $theme in map-keys($themes) {
        $_current-theme: $theme !global;
        .#{$theme}-theme & {
            @content;
        }
    }
    $_current-theme: null !global;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  padding: 10px 22px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-align: center;
  white-space: nowrap;
  border-radius: 4px;
  outline: 0;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  background: transparent; }
  .btn-primary {
    color: #4FC1E9;
    border: 1px solid #4FC1E9; }
    .btn-primary:hover, .btn-primary:focus {
      color: #fff;
      background: #4FC1E9; }
  .btn-success {
    color: #48CFAD;
    border: 1px solid #48CFAD; }
    .btn-success:hover, .btn-success:focus {
      color: #fff;
      background: #48CFAD; }
  .btn-warning {
    color: #FFCE54;
    border: 1px solid #FFCE54; }
    .btn-warning:hover, .btn-warning:focus {
      color: #fff;
      background: #FFCE54; }
  .btn-danger {
    color: #ED5565;
    border: 1px solid #ED5565; }
    .btn-danger:hover, .btn-danger:focus {
      color: #fff;
      background: #ED5565; }

input[type=text],
input[type=email],
input[type=password],
input[type=search],
input[type=tel],
input[type=url],
textarea {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 9px 12px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 3px;
  outline: none;
  font-size: 14px; }
  .light-theme input[type=text], .light-theme
  input[type=email], .light-theme
  input[type=password], .light-theme
  input[type=search], .light-theme
  input[type=tel], .light-theme
  input[type=url], .light-theme
  textarea {
    background-color: #fff;
    border: 1px solid #fff;
    color: #363636; }
  .atom-theme input[type=text], .atom-theme
  input[type=email], .atom-theme
  input[type=password], .atom-theme
  input[type=search], .atom-theme
  input[type=tel], .atom-theme
  input[type=url], .atom-theme
  textarea {
    background-color: #252D47;
    border: 1px solid #252D47;
    color: #fff; }
  .light-theme input[type=text], .light-theme
  input[type=email], .light-theme
  input[type=password], .light-theme
  input[type=search], .light-theme
  input[type=tel], .light-theme
  input[type=url], .light-theme
  textarea {
    border: 1px solid #ebefef; }
  input[type=text]::-webkit-input-placeholder,
  input[type=email]::-webkit-input-placeholder,
  input[type=password]::-webkit-input-placeholder,
  input[type=search]::-webkit-input-placeholder,
  input[type=tel]::-webkit-input-placeholder,
  input[type=url]::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #bbb; }
  input[type=text]::-ms-input-placeholder,
  input[type=email]::-ms-input-placeholder,
  input[type=password]::-ms-input-placeholder,
  input[type=search]::-ms-input-placeholder,
  input[type=tel]::-ms-input-placeholder,
  input[type=url]::-ms-input-placeholder,
  textarea::-ms-input-placeholder {
    color: #bbb; }
  input[type=text]::placeholder,
  input[type=email]::placeholder,
  input[type=password]::placeholder,
  input[type=search]::placeholder,
  input[type=tel]::placeholder,
  input[type=url]::placeholder,
  textarea::placeholder {
    color: #bbb; }
  input[type=text]:focus,
  input[type=email]:focus,
  input[type=password]:focus,
  input[type=search]:focus,
  input[type=tel]:focus,
  input[type=url]:focus,
  textarea:focus {
    border: 1px solid #4FC1E9; }
  .light-theme input[type=text]:disabled, .light-theme
  input[type=email]:disabled, .light-theme
  input[type=password]:disabled, .light-theme
  input[type=search]:disabled, .light-theme
  input[type=tel]:disabled, .light-theme
  input[type=url]:disabled, .light-theme
  textarea:disabled {
    background-color: #ebefef; }
  .atom-theme input[type=text]:disabled, .atom-theme
  input[type=email]:disabled, .atom-theme
  input[type=password]:disabled, .atom-theme
  input[type=search]:disabled, .atom-theme
  input[type=tel]:disabled, .atom-theme
  input[type=url]:disabled, .atom-theme
  textarea:disabled {
    background-color: #535C76; }
  input[type=text].success,
  input[type=email].success,
  input[type=password].success,
  input[type=search].success,
  input[type=tel].success,
  input[type=url].success,
  textarea.success {
    border: 1px solid #48CFAD; }
  input[type=text].warning,
  input[type=email].warning,
  input[type=password].warning,
  input[type=search].warning,
  input[type=tel].warning,
  input[type=url].warning,
  textarea.warning {
    border: 1px solid #FFCE54; }
  input[type=text].error,
  input[type=email].error,
  input[type=password].error,
  input[type=search].error,
  input[type=tel].error,
  input[type=url].error,
  textarea.error {
    border: 1px solid #ED5565; }

.label,
.badge {
  display: inline-block;
  min-width: 10px;
  padding: 2px 6px;
  text-align: center;
  white-space: nowrap;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3; }
  .label.tiny,
  .badge.tiny {
    padding: 2px 6px;
    font-size: 10px; }
  .label.large,
  .badge.large {
    padding: 2px 8px;
    font-size: 14px; }
  .label.primary,
  .badge.primary {
    background: #4FC1E9; }
  .label.success,
  .badge.success {
    background: #48CFAD; }
  .label.warning,
  .badge.warning {
    background: #FFCE54; }
  .label.danger,
  .badge.danger {
    background: #ED5565; }

.badge {
  border-radius: 50px; }

.checkbox {
  display: inline-block;
  cursor: pointer; }
  .checkbox > input {
    position: absolute;
    cursor: pointer;
    opacity: 0;
    top: 0;
    left: 0; }
    .checkbox > input:checked + span:before {
      border: 1px solid #4FC1E9;
      background: #4FC1E9; }
    .checkbox > input:checked + span:after {
      border-color: #fff; }
    .light-theme .checkbox > input:disabled + span:before {
      background-color: #ebefef;
      border: 1px solid #ebefef; }
    .atom-theme .checkbox > input:disabled + span:before {
      background-color: #535C76;
      border: 1px solid #535C76; }
    .light-theme .checkbox > input:disabled:checked + span:after {
      border-color: #fff; }
    .atom-theme .checkbox > input:disabled:checked + span:after {
      border-color: #1C2137; }
    .light-theme .checkbox > input:disabled:not(:checked) + span:after {
      border-color: #ebefef; }
    .atom-theme .checkbox > input:disabled:not(:checked) + span:after {
      border-color: #535C76; }
  .checkbox > span {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    -webkit-transition: all .1s;
    transition: all .1s; }
    .checkbox > span:before {
      position: absolute;
      left: 0;
      width: 20px;
      height: 20px;
      content: '';
      -webkit-transition: all .1s;
      transition: all .1s;
      border-radius: 4px; }
      .light-theme .checkbox > span:before {
        background-color: #fff;
        border: 1px solid #fff; }
      .atom-theme .checkbox > span:before {
        background-color: #252D47;
        border: 1px solid #252D47; }
      .light-theme .checkbox > span:before {
        border: 1px solid #ebefef; }
    .checkbox > span:after {
      position: absolute;
      top: 3px;
      left: 8px;
      width: 4px;
      height: 10px;
      content: '';
      -webkit-transition: all .1s;
      transition: all .1s;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      border-style: solid;
      border-width: 0 3px 3px 0; }
      .light-theme .checkbox > span:after {
        border-color: #fff; }
      .atom-theme .checkbox > span:after {
        border-color: #252D47; }
  .checkbox:hover > span:before, .checkbox:focus > span:before {
    border-color: #4FC1E9; }

.radio {
  display: inline-block;
  cursor: pointer; }
  .radio > input {
    position: absolute;
    cursor: pointer;
    opacity: 0;
    top: 0;
    left: 0; }
    .radio > input:checked + span:before {
      border: 1px solid #4FC1E9; }
    .radio > input:checked + span:after {
      opacity: 1; }
    .light-theme .radio > input:disabled + span:before {
      background-color: #ebefef;
      border: 1px solid #ebefef; }
    .atom-theme .radio > input:disabled + span:before {
      background-color: #535C76;
      border: 1px solid #535C76; }
    .light-theme .radio > input:disabled:checked + span:after {
      background: #fff; }
    .atom-theme .radio > input:disabled:checked + span:after {
      background: #1C2137; }
    .light-theme .radio > input:disabled:not(:checked) + span:after {
      background: #ebefef; }
    .atom-theme .radio > input:disabled:not(:checked) + span:after {
      background: #535C76; }
  .radio > span {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    -webkit-transition: all .1s;
    transition: all .1s; }
    .radio > span:before {
      position: absolute;
      left: 0;
      width: 20px;
      height: 20px;
      content: '';
      -webkit-transition: all .1s;
      transition: all .1s;
      border-radius: 50%; }
      .light-theme .radio > span:before {
        background-color: #fff;
        border: 1px solid #fff; }
      .atom-theme .radio > span:before {
        background-color: #252D47;
        border: 1px solid #252D47; }
      .light-theme .radio > span:before {
        border: 1px solid #ebefef; }
    .radio > span:after {
      position: absolute;
      top: 8px;
      left: 8px;
      width: 6px;
      height: 6px;
      content: '';
      -webkit-transition: all .1s;
      transition: all .1s;
      opacity: 0;
      border-radius: 50%;
      background: #4FC1E9; }
  .radio:hover > span:before, .radio:focus > span:before {
    border-color: #4FC1E9; }

.select {
  position: relative; }
  .select > select {
    width: 100%;
    font-size: 13px;
    padding: 10px;
    color: #bbb;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
    .light-theme .select > select {
      background-color: #fff;
      border: 1px solid #fff; }
    .atom-theme .select > select {
      background-color: #252D47;
      border: 1px solid #252D47; }
    .light-theme .select > select {
      border: 1px solid #ebefef; }
    .select > select::-ms-expand {
      display: none; }
  .select:after {
    content: "";
    padding: 4px;
    position: absolute;
    right: 15px;
    top: 11px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
    .light-theme .select:after {
      border-right: 1px solid #363636;
      border-bottom: 1px solid #363636; }
    .atom-theme .select:after {
      border-right: 1px solid #fff;
      border-bottom: 1px solid #fff; }

.light-theme {
  background: #fff;
  color: #363636; }

.atom-theme {
  background: #1C2137;
  color: #fff; }
