@import '../theme.scss';
.btn {
    display: inline-block;
    margin-bottom: 0;
    padding: 10px 22px;
    cursor: pointer;
    user-select: none;
    transition: all 0.4s ease;
    text-align: center;
    white-space: nowrap;
    border-radius: 4px;
    outline: 0;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    background: transparent;
    &-primary {
        color: $light-blue;
        border: 1px solid $light-blue;
        &:hover,
        &:focus {
            color: #fff;
            background: $light-blue;
        }
    }
    &-success {
        color: $light-green;
        border: 1px solid $light-green;
        &:hover,
        &:focus {
            color: #fff;
            background: $light-green;
        }
    }
    &-warning {
        color: $light-yellow;
        border: 1px solid $light-yellow;
        &:hover,
        &:focus {
            color: #fff;
            background: $light-yellow;
        }
    }
    &-danger {
        color: $light-red;
        border: 1px solid $light-red;
        &:hover,
        &:focus {
            color: #fff;
            background: $light-red;
        }
    }
}