@import '../theme.scss';
.checkbox {
    display: inline-block;
    cursor: pointer;
    &>input {
        position: absolute;
        cursor: pointer;
        opacity: 0;
        top: 0;
        left: 0;
        &:checked {
            &+span:before {
                border: 1px solid $light-blue;
                background: $light-blue;
            }
            &+span:after {
                border-color: #fff;
            }
        }
        &:disabled+span:before {
            @include theme() {
                background-color: theme(border);
                border: 1px solid theme(border);
            }
        }
        &:disabled:checked+span:after {
            @include theme() {
                border-color: theme(background);
            }
        }
        &:disabled:not(:checked)+span:after {
            @include theme() {
                border-color: theme(border);
            }
        }
    }
    &>span {
        position: relative;
        padding-left: 30px;
        cursor: pointer;
        transition: all .1s;
        &:before {
            // BOX
            position: absolute;
            left: 0;
            width: 20px;
            height: 20px;
            content: '';
            transition: all .1s;
            border-radius: 4px;
            @include theme() {
                background-color: theme(highlight);
                border: 1px solid theme(highlight);
            }
            .light-theme & {
                border: 1px solid map-get(map-get($themes, light), border);
            }
        }
        &:after {
            // MARK
            position: absolute;
            top: 3px;
            left: 8px;
            width: 4px;
            height: 10px;
            content: '';
            transition: all .1s;
            transform: rotate(45deg);
            border-style: solid;
            @include theme() {
                border-color: theme(highlight);
            }
            border-width: 0 3px 3px 0;
        }
    }
    &:hover,
    &:focus {
        &>span:before {
            border-color: $light-blue;
        }
    }
}