@import '../theme.scss';
input[type=text],
input[type=email],
input[type=password],
input[type=search],
input[type=tel],
input[type=url],
textarea {
    position: relative;
    box-sizing: border-box;
    padding: 9px 12px;
    transition: all 0.3s;
    border-radius: 3px;
    outline: none;
    font-size: 14px;
    @include theme() {
        background-color: theme(highlight);
        border: 1px solid theme(highlight);
        color: theme(foreground);
    }
    .light-theme & {
        border: 1px solid map-get(map-get($themes, light), border);
    }
    &::placeholder {
        color: $secondary-text;
    }
    &:focus {
        border: 1px solid $light-blue;
    }
    &:disabled {
        @include theme() {
            background-color: theme(border);
        }
    }
    &.success {
        border: 1px solid $light-green;
    }
    &.warning {
        border: 1px solid $light-yellow;
    }
    &.error {
        border: 1px solid $light-red;
    }
}