@import '../theme.scss';
.label,
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 2px 6px;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.3;
    &.tiny {
        padding: 2px 6px;
        font-size: 10px;
    }
    &.large {
        padding: 2px 8px;
        font-size: 14px;
    } // COLOR
    &.primary {
        background: $light-blue;
    }
    &.success {
        background: $light-green;
    }
    &.warning {
        background: $light-yellow;
    }
    &.danger {
        background: $light-red;
    }
}

.badge {
    border-radius: 50px;
}