@import '../theme.scss';
.select {
    position: relative;
    &>select {
        width: 100%;
        font-size: 13px;
        padding: 10px;
        color: $secondary-text;
        outline: none;
        cursor: pointer;
        border-radius: 5px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        @include theme() {
            background-color: theme(highlight);
            border: 1px solid theme(highlight);
        }
        .light-theme & {
            border: 1px solid map-get(map-get($themes, light), border);
        }
        &::-ms-expand {
            display: none;
        }
    }
    &:after {
        content: "";
        padding: 4px;
        position: absolute;
        right: 15px;
        top: 11px;
        transform: rotate(45deg);
        @include theme() {
            border-right: 1px solid theme(foreground);
            border-bottom: 1px solid theme(foreground);
        }
    }
}