@import 'theme.scss';
@import 'components/btn.scss';
@import 'components/input.scss';
@import 'components/label.scss';
@import 'components/checkbox.scss';
@import 'components/radio.scss';
@import 'components/select.scss';
@each $theme in map-keys($themes) {
    $_current-theme: $theme !global;
    .#{$theme}-theme {
        background: map-get(map-get($themes, $_current-theme), background);
        color: map-get(map-get($themes, $_current-theme), foreground);
    }
}