$blue: #3BAFDA;
$light-blue: #4FC1E9;
$green: #37BC9B;
$light-green: #48CFAD;
$red: #DA4453;
$light-red: #ED5565;
$yellow: #F6BB42;
$light-yellow: #FFCE54;
$secondary-text: #bbb;
$themes: ( light: ( background: #fff, foreground: #363636, highlight: #fff, border: #ebefef, icon: #878787), atom: ( background: #1C2137, foreground: #fff, highlight: #252D47, border: #535C76, icon: #535c76) );
$_current-theme: null;
@function theme($name) {
    @if ($_current-theme==null) {
        @error "theme() function should only be used into code that is wrapped by 'theme' mixin";
    }
    @if (not map-has-key(map-get($themes, $_current-theme), $name)) {
        @warn "Unknown theme key '#{$name}' for theme '#{$_current-theme}'";
        @return null;
    }
    @return map-get(map-get($themes, $_current-theme), $name);
}

@mixin theme() {
    @each $theme in map-keys($themes) {
        $_current-theme: $theme !global;
        .#{$theme}-theme & {
            @content;
        }
    }
    $_current-theme: null !global;
}